#header {
  padding: 30px;
  text-align: left;
  background: #2C9AB7;
  color: white;
  font-family: Roboto, sans-serif;
  padding-left: 150px;
  position: relative;
}
#banner {
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
}
h1 {
  font-size: 40px;
}
#italic {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
}
.color-header {
  color: #239ab9ff;
}
h2 {
  font-weight: bold;
  font-size: 19px;
}
h3 {
  font-size: 20px;
}
#master-main {
  /* float: left; */
  width: 53%;
  float: left;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  /* font-style: oblique; */
  /* font-kerning: normal; */
  /* border: 1px solid green; */
  padding-top: 10px;
  /* padding-right: 25px; */
  padding-left: 150px;
  padding-bottom: 100px;
  /* min-height: 100%;
  min-height: 100vh; */
  position: relative;
  font-size: 13px;
  word-spacing: 2.5px;
  /* margin: 0;
  padding: 0; */
  /* min-height: 100%;
  max-height: 100vh; */
}
#master-aside {
  float: right;
  width: 20%;
  font-size: 13px;
  word-spacing: 2.5px;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  position: relative;
  /* min-height: 100%;
  max-height: 100vh; */
  padding-right: 150px;
  /* padding-left: 25px; */
  padding-bottom: 30px;
  /* border: 1px solid red; */
  padding-top: 10px;
}
.figure-float {
  float: left;
  margin-left: 0px;
  /* margin-right: auto; */
  /* max-width: 250px; */
}
figcaption {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-size: 15px;
}
.sidebar-links {
  color: #2C9AB7;
}
footer {
  text-align: center;
  background: #3A3A3A;
  color: white;
  font-family: sans-serif;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  padding-top: 1px;
  clear: both;
}
.center-text {
  text-align: center;
}
.nav-links {
  display: inline-flex;
  justify-content: space-around;
  text-decoration-line: none;
  color: white;
  width: 10%;
}
.top-nav {
  background: #ebebebff;
  font-family: sans-serif;
  padding-left: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.top-nav-links {
  display: inline-flex;
  justify-content: space-around;
  text-decoration-line: none;
  color: black;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #3a3a3aff
  /* word-spacing: 1rem; */
}
/* .container {
  width: 100%;
  float: left;
  margin: 0;d
  padding 0;
  height: 100%;
} */
/* .cat-image {
  max-width: 50px;
} */
blockquote {
  color: #52bad5ff;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  margin-left: 0;
}
.blue-text {
  color: #2c9ab7ff
}
